<div id= "komplettreg" class="container" ng-controller="LoginController">
    <h1>
        <strong>
            <u>Doctor Online-Terminbuchung</u>
        </strong>
    </h1>
    <h3 id="neuesKonto">
        Erstellen Sie ein neues Konto
    </h3>
    <form>
        <div id="middle">
            <div class="row">
                <h4 id="benutzername">
                    <strong>
                        Benutzername:
                    </strong>
                    <input type="text" class="form-control" name="benutzername" placeholder="Benutzername" ng-model="formData.benutzername" required>
                </h4>
            </div>
            <div class="row">
                <div class="form-group">
                    <h4 id="passwort">
                        <strong>
                            Passwort:
                        </strong>
                        <input type="password" class="form-control" name="passwort" placeholder="Passwort" ng-model="formData.passwort" required>
                    </h4>
                </div>
            </div>
            <div class="row">
                <h4 id="vorname">
                    <strong>
                        Vorname:
                    </strong>
                    <input type="text" class="form-control" name="vorname" placeholder="Vorname" ng-model="formData.vorname" required>
                </h4>
            </div>
            <div class="row">
                <div class="form-group">
                    <h4 id="nachname">
                        <strong>
                            Nachname:
                        </strong>
                        <input type="text" class="form-control" name="nachname" placeholder="Nachname" ng-model="formData.nachname" required>
                    </h4>
                </div>
            </div>
            <div class="row">
                <h4 id="mail">
                    <strong>
                        E-Mail-Adresse:
                    </strong>
                    <input type="email" class="form-control" name="mail" placeholder="E-Mail-Adresse" ng-model="formData.email" required>
                </h4>
            </div>
            <div class="row">
                <h4 id="plz">
                    <strong>
                        PLZ:
                    </strong>
                    <input type="text"; pattern="[0-9]{5}"; class="form-control" name="plz" maxlength="5" placeholder="PLZ" ng-model="formData.plz" required>
                </h4>
                <h4 id="ort">
                    <strong>
                        Ort:
                    </strong>
                    <input type="text" class="form-control" name="ort" placeholder="Ort" ng-model="formData.ort" required>
                </h4>
            </div>
            <div class="row">
                <div id="agbdata" class="form-group centerbtn">
                    <input name="signup" type="hidden" value="0">
                    <input tabindex = "14" type="checkbox" value="1" name="agb" id="checkagb">
                    <span class="text">
                Ich akzeptiere die <a href="#">Datenschutzbestimmungen</a>
                und
                    <a href="#">AGB</a>.</span>
                </div>

            </div>
            <div class="row">
                <div class="form-group centerbtn">
                    <a type="submit" class="btn btn-success" id="btnregister" ng-click="createUser()" href="#!facharztbezeichnung">Login</a>
                </div>
            </div>
        </div>
    </form>
</div>