<body class="bodyfach">
<div id="komplett" class ="container">
    <h1>
        <strong>
            <u>Doctor Online-Terminbuchung</u>
        </strong>
    </h1>
    <p id="found">
        Finden Sie den Facharzt mit dem besten Termin in Ihrer Nähe!
    </p>
    <div class="rahmen container">
        <h2 id="auswahl">
            <strong>
                Bitte wählen Sie eine gewünschte Uhrzeit aus:
            </strong>
        </h2>
        <select id="uhrzeitwahl">
            <option value="" disabled selected>Uhrzeit wählen</option>
            <option></option>
        </select>
        <div class="form-group">
            <a class="btn btn-success" id="btnback" href="#!terminwahltag">Zurück</a>
            <a class="btn btn-success" id="btnbuchen" href="#!bestaetigung">Termin buchen</a>
        </div>
    </div>
    <p id="empfehlung">Letzten Monat haben mehr als <strong>90% unserer Kunden</strong> gesagt, dass sie EasyDoctorBooking.com
        Freunden und Verwandten weiterempfehlen würden.</p>
    <p id="tick"><strong>&#10004;</strong> Jetzt buchen, vor Ort zahlen! Deutschlands erstes Online-Buchungsportal für Fachärzte!</p>
</div>
</body>
</html>