<body class="bodyfach">
<div id="komplett" class ="container">
    <h1>
        <strong>
            <u>Doctor Online-Terminbuchung</u>
        </strong>
    </h1>
    <p id="found">
        Finden Sie den Facharzt mit dem besten Termin in Ihrer Nähe!
    </p>
    <div class="rahmen container">
        <h2 id="auswahl">
            <strong>
                Bitte wählen Sie ein gewünschten Termin aus:
            </strong>
        </h2>
        <div id="calendar">
            <p id="calendar-day"></p>
            <p id="calendar-date"></p>
            <p id="calendar-month-year"></p>
        </div>
        <div class="form-group">
            <a class="btn btn-success" id="btnback" href="#!arztwahl">Zurück</a>
            <a class="btn btn-success" id="btnforward" href="#!terminwahlzeit">Weiter</a>
        </div>
    </div>
    <p id="empfehlung">Letzten Monat haben mehr als <strong>90% unserer Kunden</strong> gesagt, dass sie EasyDoctorBooking.com
        Freunden und Verwandten weiterempfehlen würden.</p>
    <p id="tick"><strong>&#10004;</strong> Jetzt buchen, vor Ort zahlen! Deutschlands erstes Online-Buchungsportal für Fachärzte!</p>
</div>
</body>